<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method='post' action='/login' id='form1'>
    <label for='name'>Username:</label>
    <input type='text' name='username' id='name'>
    <label for='pass'>Password:</label>
    <input type='text' name='password' id='pass'>
    </form>
    <button type='submit' value='submit' form='form1'>Login</button>
  </body>
</html>